[submodule "backend"]
	path = backend
	url = https://github.com/HabibaYossre/Chronicles-of-Exoplanet-Exploration.git
	branch = backend
[submodule "Personality_Test_API"]
	path = Personality_Test_API
	url = https://github.com/BishoySedra/NASA-Space-Apps-2024.git
	branch = AI
[submodule "Chatbot_API"]
	path = Chatbot_API
	url = https://github.com/BishoySedra/NASA-Space-Apps-2024.git
	branch = chatbot-api
