@import '../../Shares/main.css';
.navbar{
    height: 10vh;
    position: absolute;
    z-index: 10;
    top:0;
    margin-top: 20px;
}
.navbar .list{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color:var(--text-color);
}
.navbar button{
    font-weight: 600;
    font-size: 18px;
    border: 0;
    border-radius: 5px ;
    color: var(--light-color);
    transition: 0.3s;
    background: url("../../Assets/galaxy.png");
    background-size: cover;
  transition: 0.5s ease-in-out;
    padding: 10px 20px;
    cursor: pointer;
}
.navbar button:hover{
    background-position: right center;
}

@media (max-width:900px) {
    .navbar .list{
        width: 80%;
    }
    .navbar .list{
        font-size: 16px;
    }
    .navbar button{
        padding:8px 25px;
        font-size: 16px;
    }
}
@media (max-width:750px) {
    .navbar .list{
        width: 90%;
    }
    .navbar .list{
        font-size: 14px;
    }
    .navbar button{
        padding:8px 20px;
        font-size: 14px;
    }
}
@media (max-width:357px) {
    .navbar .list{
        width: 95%;
    }
    .navbar .list{
        font-size: 10px;
    }
    .navbar button{
        font-weight: 500;
        padding:6px 13px;
        font-size: 10px;
    }
}