@import '../../Shares/main.css';
.video{
    
}

.parallax img{
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    z-index: 1000;
    pointer-events: none;
}
.planet-orbit1 {
  animation: orbit1 15s linear infinite;
}
.planet-orbit2 {
  animation: orbit2 25s ease-in-out infinite;
}
.planet-orbit3 {
  animation: orbit3 30s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
.ast{
    animation: astKey 30s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
/* .break-gif{
  width: 100vw;
  height: 200px;
  background-color: yellow;
}
.break-gif img{
  width: 100%;
  height: 100%;
} */
.break-gif {
  width: 100%;
  height: 200px;
  background-image: url(../../Assets/videos/home3.gif);
  background-size: cover;
  background-attachment: fixed;
  position:relative;
}

.break-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

.icons {
  position: fixed;
  top: 88vh;
  z-index: 2000;
  right: 20px;
  width: 60px;
  height: 60px;
}
.tooltip {
  visibility: hidden; /* Hide tooltip by default */
  width: 120px; /* Width of the tooltip */
  background-color:var(--second-color);
  color: #fff; /* Text color */
  text-align: center; /* Center text */
  border-radius: 5px; /* Rounded corners */
  padding: 5px; /* Padding */
  position: absolute; /* Positioning */
  top: 10px;
  right: 80px;
  transition: visibility 0.2s, opacity 0.2s ease-in-out; /* Smooth transition */
  opacity: 0; 
  font-weight: 500;
}
.tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--second-color);
}

.icons:hover .tooltip {
  visibility: visible; /* Show tooltip on hover */
  opacity: 1; /* Fade in */
}
@keyframes astKey {
  0% {
    transform: translateX(5px) translateY(0); /* Starting position */
  }
  25% {
    transform: translateX(10px) translateY(42px); /* Adjust for small elliptical path */
  }
  50% {
    transform: translateX(-15px) translateY(14px); /* Adjust for small elliptical path */
  }
  75% {
    transform: translateX(0px) translateY(26px); /* Adjust for small elliptical path */
  }
  100% {
    transform: translateX(5px) translateY(0); /* Back to starting position */
  }
}

@keyframes orbit1 {
  0% {
    transform: translateX(50px) translateY(0); /* Starting position */
  }
  25% {
    transform: translateX(100px) translateY(150px); /* Adjust for elliptical path */
  }
  50% {
    transform: translateX(-150px) translateY(200px); /* Adjust for elliptical path */
  }
  75% {
    transform: translateX(0px) translateY(100px); /* Adjust for elliptical path */
  }
  100% {
    transform: translateX(50px) translateY(0); /* Back to starting position */
  }
}

@keyframes orbit2 {
  0% {
    transform: translateX(0) translateY(-50px); /* Starting position */
  }
  25% {
    transform: translateX(150px) translateY(0px); /* Adjust for elliptical path */
  }
  50% {
    transform: translateX(0) translateY(150px); /* Adjust for elliptical path */
  }
  75% {
    transform: translateX(-150px) translateY(0px); /* Adjust for elliptical path */
  }
  100% {
    transform: translateX(0) translateY(-50px); /* Back to starting position */
  }
}

@keyframes orbit3 {
  0% {
    transform: translateX(-50px) translateY(50px); /* Starting position */
  }
  25% {
    transform: translateX(50px) translateY(-100px); /* Adjust for elliptical path */
  }
  50% {
    transform: translateX(150px) translateY(50px); /* Adjust for elliptical path */
  }
  75% {
    transform: translateX(-100px) translateY(-150px); /* Adjust for elliptical path */
  }
  100% {
    transform: translateX(-50px) translateY(50px); /* Back to starting position */
  }
}