@import '../../Shares/main.css';
.footer{
    position: relative;
    overflow: hidden;
    height: 40vh;
}
 .footer-btn{
    margin:10vw 0px 0px 10vw ;
 }
 .footer span{
    padding: 14px 1px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
 }
 .footer .first {
    border-left: 3px solid black; 
    border-start-start-radius: 5px;
    padding: 14px 0px 14px 35px;
    border-end-start-radius: 5px;
 }
 .footer .last{
    border-right: 3px solid black; 
    border-start-end-radius: 5px;
    padding: 14px 35px 14px 0px;
    border-end-end-radius: 5px;
 }
 .footer .middle{
    padding-left: 7px;
 }
 .footer span:hover{
    border-top: 3px solid var(--second-color);
    border-bottom: 3px solid var(--second-color);
    color: var(--second-color);
 }
.first:hover {
    border-left: 3px solid var(--second-color); 
    color: var(--second-color);
 }
 .footer .last:hover{
    border-right: 3px solid var(--second-color);
    color: var(--second-color);
 }
.first:hover ~ .second,.second:hover ~ .third,.third:hover ~ .fourth,.fourth:hover ~ .fifth,.fifth:hover ~ .sixth,.sixth:hover ~ .seventh,.seventh:hover ~ .eighth,.eighth:hover ~ .ninth,.ninth:hover ~ .tenth,.tenth:hover ~ .eleventh,.eleventh:hover ~ .twelfth {
    border-top: 3px solid var(--second-color);
    border-bottom:  3px solid var(--second-color);
    color: var(--second-color);
 }
 .twelfth:hover ~ .last{
    border-right: 3px solid var(--second-color);
    border-top: 3px solid var(--second-color);
    border-bottom: 3px solid var(--second-color);
    color: var(--second-color);
 }
.cursor{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--light-color);
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.footer p{
    font-size: 30px;
    font-weight: 500;
    color: var(--hover-color);
    position: absolute;
    z-index: 11000;
    left: 50%;
    transform: translateX(-50%);
    top:20px;
}

@media (max-width:750px) {
    .footer span{
        padding: 12px 1px;
        font-size: 16px;
     }
     .footer .first {
        padding: 12px 0px 12px 30px;
     }
     .footer .last{
        padding: 12px 30px 12px 0px;
     }
}
