@import '../../Shares/main.css';
.page-not-found{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 5vh;
}
.not-found-title{
    font-weight: 700;
    font-size: 55px;
    color: var(--main-color);
}
.line{
    width: 10vw;
    height: 0.3vw;
    background-color: var(--second-color);
    margin-top: -40px;
    margin-left:5px ;
    transition: 0.3s;
}
.not-found-title:hover ~  .line{
    width: 15vw;
}
.not-found-description{
    font-size: 18px;
    color: var(--text-color);
}
.notfound-content p{
   margin: 55px 0px;
}
.notfound-content button{
    padding: 15px 40px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--second-color);
    border: 2px solid var(--second-color);
    border-radius: 5px ;
    color: var(--light-color);
    transition: 0.3s;
}
.notfound-content button:hover{
    background-color: transparent;
    color: var(--second-color);
    border: 2px solid var(--second-color);
}
.notfound-img{
    width: 100%;
    height: 100%;
    background-image: url('../../Assets/Not-found.png');
    background-repeat:no-repeat ;
    background-size: contain;
    background-position:right;
}

@media (max-width:900px) {
    .page-not-found{
        flex-direction: column-reverse;
    }
    .notfound-img{
        background-position:center;
    }
}

@media (max-width:750px) {
    .not-found-title{
        font-size: 40px;
    }
    .line{
        width: 20vw;
    }
    .not-found-title:hover ~  .line{
        width: 30vw;
    }
    .not-found-description{
        font-size: 14px;
    }
    .notfound-content button{
        padding: 10px 30px;
        font-size: 14px;
    }
}